[civcrm]
# destination directory
path = /var/www/html/drupal
# hosts you allow to access
hosts allow = *
# deny all host
hosts deny = *
list = true
# user permission
uid = ubuntu
#group permission
gid = ansrunner
#can write to this directory
read only = false